*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-family: 'PT Sans Narrow', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.666;
  color: #000000;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul, li {
  list-style: none;
  padding: 0;
}

a {
  color: #0699A6;
}

a:hover, a:active {
  color: #035F67;
}

img {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  padding: 3.333rem 0 5.556rem 0;
  background: rgba(158, 140, 108, 0.1);
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 9%), 0% 100%);
}

footer {
  padding: 4.444rem 0 5rem 0;
  background: rgba(158, 140, 108, 0.1);
  clip-path: polygon(0% calc(0% + 9%), 100% 0%, 100% 100%, 0% 100%);
}

section {
  margin: 2.222rem 1.111rem;
}

h1, h2, h4, .email {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-size: 2.33rem;
  line-height: 0.9;
  text-align: center;
  margin-top: 1.33rem;
  letter-spacing: -0.075rem;
}

h2 {
  margin-bottom: 1.111rem;
  font-size: 1.777rem;
  line-height: 1.3125;
}

h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.333rem;
  letter-spacing: 0.055rem;
  color: #9E8C6C;
  margin-bottom: 0.555rem;
}

h4 {
  font-size: 2.222rem;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 2.222rem;
}

h5 {
  margin-bottom: 1.111rem;
  color: #8F8F8F;
}

svg {
  fill: #0699A6;
  -webkit-fill: #0699A6;
  filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.25));
}

.social-media-list li svg:hover {
  fill: #035F67;
  -webkit-fill: #035F67;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.photo {
  max-width: 8.888rem;
  max-height: 8.888rem;
  margin: 0 auto 1.666rem auto;
  border-radius: 50%;
}

.position-name {
  font-size: 0.777rem;
  line-height: 1.111rem;
  text-align: center;
  letter-spacing: 0.111rem;
}

.contact-me-btn {
  margin: 2.22rem auto 0 auto;
  width: 12.5rem;
  background: #0699A6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-me-btn:hover, .contact-me-btn:active {
  background: #035F67;
}

.contact-me-btn a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.333rem;
  color: #FFFFFF;
  padding: 20px;
}

.separator {
  margin: 0 1.111rem;
  max-width: 3rem;
  border-bottom: 10px solid #0699A6;
}

.email {
  font-size: 1.111rem;
  line-height: 1.3846;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 2.5rem;
  text-shadow: 0px 2px 1.5px rgba(0, 0, 0, 0.25);
}

.social-media-list{
  display: flex;
  justify-content: space-around;
  max-width: 13.888rem;
  margin: 0 auto;
}

.social-media-list li {
  display: inline-block;
}

.experience-list-item {
  margin-bottom: 2.22rem;
}

.location-link {
  color: #0699A6;
  text-decoration: none;
}

.location-link span {
  margin-left: 0.2rem;
}

.location-link:hover {
  color: #035F67;
}

@media (min-width: 479px) {
  html {
    font-size: 20px;
  }
  .photo {
    max-width: 11.111rem;
    max-height: 11.111rem;
  }
  header {
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 11.5%), 0% 100%);
  }
  
  footer {
    clip-path: polygon(0% calc(0% + 11.5%), 100% 0%, 100% 100%, 0% 100%);
  }
}

@media (min-width: 989px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.333rem 4.5rem 5.556rem 4.5rem;
  }

  .photo-container {
    max-width: 40%;
  }

  .photo {
    margin: auto;
    max-width: 12.185rem;
    max-height: 12.185rem;
  }

  .header-content {
    width: 60%;
  }

  h1, .position-name {
    text-align: left;
  }

  .contact-me-btn {
    margin: 2.22rem 0 0 0;
  }

  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 5rem;
  }

  main {
    max-width: 60%;
  }

  aside {
    max-width: 40%;
  }

  section {
    margin: 2.222rem 0;
  }

  header {
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 18%), 0% 100%);
  }
  
  footer {
    clip-path: polygon(0% calc(0% + 18%), 100% 0%, 100% 100%, 0% 100%);
  }

  h2 {
    font-size: 1.8rem;
  }

  .separator:last-child {
    display: none;
  }

  .separator {
    margin: 0;
  }

}

@media (min-width: 1439px) {
  .photo {
    max-width: 16.993rem;
    max-height: 16.993rem;
  }

  header {
    padding: 3.333rem 8.25rem 5.556rem 8.25rem;
  }

  h1 {
    font-size: 5rem;
  }

  .content {
    padding: 0 8.25rem;
  }
}

@media (min-width: 1919px) {
  html {
    font-size: 26px;
  }
}

@media (min-width: 2239px) {
  html {
    font-size: 31px;
  }
}

@media (min-width: 2559px) {
  html {
    font-size: 35px;
  }
}

@media (min-width: 2879px) {
  html {
    font-size: 40px;
  }
}

@media (min-width: 3455px) {
  html {
    font-size: 48px;
  }
}

@media (min-width: 3839px) {
  html {
    font-size: 53px;
  }
}